@font-face {
  font-family: "Gilroy-Light";
  src: url("fonts/Gilroy-Light.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/Gilroy-Light.woff") format("woff"),
    /* Pretty Modern Browsers */ url("fonts/Gilroy-Light.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("fonts/Gilroy-Light.svg#svgFontName")
      format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("fonts/Gilroy-Bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/Gilroy-Bold.woff") format("woff"),
    /* Pretty Modern Browsers */ url("fonts/Gilroy-Bold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/Gilroy-Bold.svg#svgFontName")
      format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("fonts/Gilroy-Medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/Gilroy-Medium.woff") format("woff"),
    /* Pretty Modern Browsers */ url("fonts/Gilroy-Medium.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("fonts/Gilroy-Medium.svg#svgFontName")
      format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("fonts/Gilroy-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/Gilroy-Regular.woff") format("woff"),
    /* Pretty Modern Browsers */ url("fonts/Gilroy-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("fonts/Gilroy-Regular.svg#svgFontName")
      format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("fonts/Gilroy-SemiBold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/Gilroy-SemiBold.woff") format("woff"),
    /* Pretty Modern Browsers */ url("fonts/Gilroy-SemiBold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("fonts/Gilroy-SemiBold.svg#svgFontName")
      format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.popup {
  background: #ffffff;
  width: 331px;
  height: 482px;
  box-shadow: 0px 0px 36px rgb(243 199 199 / 16%);
  border-radius: 10px;
  border-collapse: collapse;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.topbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0px 0px;

  width: 328px;
  height: 51px;

  border-radius: 12px 12px 0px 0px;
}

.topbar-text {
  font-family: "Gilroy-Medium";
  font-size: 20px;
  line-height: 80;

  color: #2b4bf2;
}

.info-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.speed-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;

  margin-right: 10px;

  width: 115px;
  height: 100px;

  background: #e5eaff;
  border-radius: 8px;

  font-family: "Gilroy-Bold";
  font-size: 26px;
  line-height: 120%;
}

.bottom-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 70px;
}

.speed-text {
  font-family: "Gilroy-Medium";
  font-size: 12px;
  line-height: 120%;

  text-align: center;

  color: black;

  margin: 2px 0px;
}

.time-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;

  width: 115px;
  height: 100px;

  background: #e5eaff;
  border-radius: 8px;

  font-family: "Gilroy-Bold";
  font-size: 36px;
  line-height: 120%;
}

.time-text {
  font-family: "Gilroy-Medium";
  font-size: 12px;
  line-height: 120%;

  color: black;

  margin: 10px 0px;
}

.time-value {
  font-size: 10px;
  width: 109px;

  font-family: "Gilroy-Bold";
  font-size: 26px;
  line-height: 120%;
  text-align: bottom;
}

.scroll-box {
  display: flex;

  flex-direction: column;

  width: 200px;
  height: 100px;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border-radius: 8px;

  font-family: "Gilroy-Bold";
  font-size: 48px;
  line-height: 120%;
  color: #2b4bf2;
}

.scroll-text {
  font-family: "Gilroy-Medium";
  font-size: 12px;

  line-height: 120%;

  display: flex;
  align-items: center;
  color: black;

  margin: 10px 0px;
}

.host-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;

  background: #fff;
  border-radius: 8px;
  font-family: "Gilroy-Medium";
  font-size: 16px;
  line-height: 120%;
}

.dashboard-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;

  background: #fff;
  border-radius: 8px;
  font-family: "Gilroy-Medium";
  font-size: 13px;
  line-height: 120%;
}
