

.popup {
  background: #fff;
  width: 330px;
  height: 475px;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
}


.topbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0px 0px;

  position: absolute;
  width: 328px;
  height: 51px;

  border-radius: 12px 12px 0px 0px;
}

.topbar-text {
  font-family: Gilroy-Bold;
  font-size: 26px;
  line-height: 140%;
  /* or 19px */

  display: flex;
  align-items: center;

  color: #2b4bf2;
}

.speed-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;

  left: 20px;
  top: 208px;
  right: 170px;
  bottom: 207px;

  position: absolute;
  width: 115px;
  height: 100px;

  background: #e5eaff;
  border-radius: 8px;

  font-family: Gilroy-Bold;
  font-size: 36px;
  line-height: 120%;
}

.speed-text {
  font-family: Gilroy-Medium;
  font-size: 12px;
  line-height: 120%;
  /* identical to box height, or 12px */

  display: flex;
  align-items: center;

  color: black;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 10px 0px;
}

.time-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;

  left: 170px;
  top: 208px;
  right: 20px;
  bottom: 207px;

  position: absolute;
  width: 115px;
  height: 100px;

  background: #e5eaff;
  border-radius: 8px;

  font-family: Gilroy-Bold;
  font-size: 36px;
  line-height: 120%;
}

.time-text {
  font-family: Gilroy-Medium;
  font-size: 12px;
  line-height: 120%;
  /* identical to box height, or 12px */

  display: flex;
  align-items: center;

  color: black;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 10px 0px;
}

.scroll-box {
  display: flex;

  position: absolute;
  flex-direction: column;

  width: 230px;
  height: 100px;
  align-items: center;
  justify-content: center;

  background: #f9f9fa;
  border-radius: 8px;

  left: 50px;
  top: 85px;
  right: 20px;
  bottom: 347px;

  font-family: Gilroy-Bold;
  font-size: 48px;
  line-height: 120%;
}

.scroll-text {
  font-family: Gilroy-Medium;
  font-size: 12px;
  line-height: 120%;
  /* identical to box height, or 12px */

  display: flex;
  align-items: center;

  color: black;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 10px 0px;
}
